<%- include('partials/header'); -%>

<h1>Home</h1>
<p><%= homeContent %></p>

<a href="/compose">Write a new Blog Post</a>

<% postsList.forEach((elem) => { %>
    <h3><%= elem.title %></h3>
    <p>
        <%= (elem.content).slice(0, 100) + ' ...' %>
        <a href='/posts/<%=elem.title%>'>Read More</a>
    </p>
<% }) %>

<%- include('partials/footer');-%>